@{
    ViewData["Title"] = "AJAX Partial View Problem Demo";
}

<h2>AJAX Partial View Problem Demo</h2>

<form id="frmupload" name="frmupload" method="post" action="/Demo/Upload">
    <input type="hidden" id="ID" name="ID" value="123" />
    <input id="btnupload" name="btnupload" type="submit" value="Upload" />
</form>

<div id="divRESPONSE"></div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#frmupload').on('submit', function (event) {
                event.preventDefault(); // Always call this first!
                let form = $(this);
                let url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (response) {
                        $("#divRESPONSE").html(response);
                    },
                    error: function (data) {
                        alert("Error occurred while submitting the form");
                    }
                });
            });
        });
    </script>
}